<!DOCTYPE html>
<html>
<head>
	<title> Robi</title>
	<link type="text/css" href='/css/bootstrap.min.css' rel='stylesheet'>
	<link type="text/css" href='/css/app.css' rel='stylesheet' >
	<link type="text/css" href="/skin/jplayer.blue.monday.css" rel="stylesheet" />
	<link type="text/css" href="/skin/style.css" rel="stylesheet" />
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>
	<%= erb :header %>
	<div class="container">
		<div class="row">
			<%= erb :text_to_speech %>
			<%= erb :twitter %>
			<%= erb :player_audio %>
			<%= erb :vote %>
		</div>
		<%= erb :boutons %>
	</div>

	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script type="text/javascript" src="/js/robespierre.js"></script>
	<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/js/jplayer.playlist.min.js"></script>
</body>
</html>
