<div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Votes</h3>
		</div>
		<div>
			<form id="search_form" class="form-horizontal" role="form" method="post"      action="/search">
				<div class="form-group">
					<label for="input" class="col-sm-3 control-label">Change</label>
					<div class="col-sm-8 ">
						<input name="input" type="text" class="form-control" id="input" placeholder="hashtag">
					</div>
				</div>
			</form>
		</div>
		<div id="conteneur_vote" class="panel-body">
			<div id="colonne_vote_1" class="colonne col-md-6">
				<p class="tableau_votes titre_colonnes">Morceaux</p>
				<hr class="hr_titre_vote">
				<div class="tableau_votes">
					<%= @redis.keys("PSG")[0] %>
				</div>
				<hr class="hr_vote">
				<div class="tableau_votes">
					<%= @redis.keys("obama")[0] %>
				</div>
				<hr class="hr_vote">
				<div class="tableau_votes dernieres_div_tableau">
					<%= @redis.keys("justin bieber")[0] %>
				</div>
			</div>
			<div class="colonne col-md-6">
				<p class="tableau_votes titre_colonnes">Compteur</p>
				<hr class="hr_titre_vote">
				<div class="tableau_votes" id="vote_1">
					<%= @redis.get "PSG" %>
				</div>
				<hr class="hr_vote">
				<div class="tableau_votes" id="vote_2">
					<%= @redis.get "obama" %>
				</div>
				<hr class="hr_vote">
				<div class="tableau_votes dernieres_div_tableau" id="vote_3">
					<%= @redis.get "justin bieber" %>
				</div>	
			</div>
		</div>
		<div class="panel-body">
			<button id="stop_and_go_votes" class=" inline_button btn <%= @redis.get("demarrer") == "off" ? "btn-success" : "btn-danger" %>"> <%= @redis.get("demarrer") == "off" ? "Démarrer" : "Arreter" %> </button>
			<button id="remise_a_zero" class=" btn btn-danger" > remettre à zéro </button>
		</div>
	</div>
</div>